type: bluemix
server:
  displayName: United Kingdom
  name: eu-gb
  host: eu.apiconnect.ibmcloud.com
org:
  id: 5a3fbd1d0cf21a27aa5e3084
  name: laraziosinlibmcom-vu2018
  displayName: lara.ziosi@nl.ibm.com (VU2018)
  orgType: apiProvider
  status: active
  advPortalOverride: true
  extUaaAuthenticated: false
  requiresSSLClientCertCheck: false
  dormant: false
  url: 'https://eu.apiconnect.ibmcloud.com/v1/orgs/5a3fbd1d0cf21a27aa5e3084'
  externalOrgId: d5a4512f-6a04-4e4f-9589-f9e23f8795fc
  externalInviteOverride: 'https://console.bluemix.net/apis/catalog/invitation?env_id=ibm:yp:eu-gb'
  externalSpaceId: d5a4512f-6a04-4e4f-9589-f9e23f8795fc
  externalNativeOrgId: 0cb51e3e-0fe3-411a-8875-8b45b3c1e3f8
  bluemix:
    inviteUri: 'https://console.bluemix.net/apis/catalog/invitation?env_id=ibm:yp:eu-gb'
    organization: 0cb51e3e-0fe3-411a-8875-8b45b3c1e3f8
    space: d5a4512f-6a04-4e4f-9589-f9e23f8795fc
catalog:
  id: 5a3fbd1d0cf21a27aa5e3090
  orgId: 5a3fbd1d0cf21a27aa5e3084
  name: Sandbox
  shortName: sb
  owner:
    id: 5a3fbcca0cf209f3201d17f0
    username: lara.ziosi@nl.ibm.com
    context: apimanager
    idpId: 58335d5ed20e47053bf50fd0
    email: lara.ziosi@nl.ibm.com
    firstName: ''
    lastName: ''
    status: ACTIVE
    lastLoginTime: '2017-12-24T14:44:07.843+0000'
    url: 'https://eu.apiconnect.ibmcloud.com/v1/users/5a3fbcca0cf209f3201d17f0'
  apiCenter: false
  portalType: BASIC
  portalUrl: 'https://developer.eu.apiconnect.ibmcloud.com/laraziosinlibmcom-vu2018/sb'
  advPortalUrl: 'https://sb-laraziosinlibmcom-vu2018.developer.eu.apiconnect.ibmcloud.com'
  gatewayType: DataPowerGateway
  gwServices:
    - id: PRODAPIC_APIMGMT_GATEWAY
      endpointUrl: 'https://api.eu.apiconnect.ibmcloud.com/laraziosinlibmcom-vu2018/sb'
  idp: 5a3fbd1e0cf21a27aa5e3093
  idps:
    - 5a3fbd1e0cf21a27aa5e3093
  availableRoles:
    - developer
    - viewer
  default: false
  autoDeploy: true
  restrictedDeployment: false
  invitationEnabled: true
  selfSignUpEnabled: true
  spaceEnabled: false
  spaceIds:
    - 5a3fbd1f0cf21a27aa5e309b
  testAppEnabled: true
  testAppCredentials:
    clientId: 17259b93-2d80-41cd-b534-0c98948b348b
    clientSecret: hR1sF5oW0aN0nD0lV2aX8pM5jM2vI1hG0mF0yR7lL7sB5sF7yJ
  createdAt: '2017-12-24T14:43:42.898+0000'
  updatedAt: '2017-12-24T14:43:42.898+0000'
  createdBy: apim-ops@wwpdl.vnet.ibm.com
  updatedBy: apim-ops@wwpdl.vnet.ibm.com
  url: >-
    https://eu.apiconnect.ibmcloud.com/v1/orgs/5a3fbd1d0cf21a27aa5e3084/environments/5a3fbd1d0cf21a27aa5e3090
  applicationLifecycleEnabled: false
  productDeploymentApprovalRequiredStates: []
  orgName: laraziosinlibmcom-vu2018
space:
  none: true
app:
  metadata:
    guid: b08f305d-0c71-415e-bec9-e7719a5bd8fb
  entity:
    guid: b08f305d-0c71-415e-bec9-e7719a5bd8fb
    name: shoppinglb
    routes:
      - guid: f3a68afc-3209-41c1-a592-aa8a88d856b2
        host: apiconnect-b08f305d-0c71-415e-bec9-e7719a5bd8fb
        port: null
        path: ''
        domain:
          guid: 48805932-e5c3-4109-80d1-4d4adc9ef6e2
          name: laraziosinlibmcom-vu2018.apic.eu-gb.mybluemix.net
    running_instances: 0
    services: []
    available_domains:
      - guid: 48805932-e5c3-4109-80d1-4d4adc9ef6e2
        name: laraziosinlibmcom-vu2018.apic.eu-gb.mybluemix.net
        owning_organization_guid: 0cb51e3e-0fe3-411a-8875-8b45b3c1e3f8
      - guid: 75049093-13e9-4520-80a6-2d6fea6542bc
        name: eu-gb.mybluemix.net
        router_group_guid: null
        router_group_type: null
    production: false
    space_guid: d5a4512f-6a04-4e4f-9589-f9e23f8795fc
    stack_guid: 423dd340-c07e-44c2-b7fb-601c10fd32d3
    buildpack: null
    detected_buildpack: 'SDK for Node.js(TM) (ibm-node.js-6.12.0, buildpack-v3.16.1-20171207-1520)'
    detected_buildpack_guid: 30abdc77-00c3-4cd5-ad47-6a6aa0fa2d37
    environment_json: {}
    memory: 256
    instances: 1
    disk_quota: 1024
    state: STOPPED
    version: 2919d4b0-87cb-4884-a0ff-763e6409059c
    command: null
    console: true
    debug: null
    staging_task_id: fda77614-222b-4c8e-a07a-30842a01ccb3
    package_state: PENDING
    health_check_type: port
    health_check_timeout: null
    health_check_http_endpoint: null
    staging_failed_reason: null
    staging_failed_description: null
    diego: true
    docker_image: null
    package_updated_at: '2017-12-27T17:52:04Z'
    detected_start_command: ./vendor/initial_startup.rb
    enable_ssh: true
    ports: null
id: 344a5668-e7a7-4ce1-a886-fb7ea476a0a5
target: 1.0.0
versionOptions:
  inplaceUpdate: true
publishApp: true
workspaceDir:
  path: /home/vu2018/shoppingLB
publishProducts: true
specificProducts: true
products:
  - info:
      name: shoppinglb
      title: shoppingLB
      version: 1.0.0
    updatedAt: '2017-12-26T09:46:58.816Z'
    file: /home/vu2018/shoppingLB/definitions/shoppingLB-product.yaml
    apis:
      shoppinglb:
        $ref: shoppingLB.yaml
    selected: true
